#test {
    color:rebeccapurple;
    background-color: antiquewhite;
    font-size: large;
}

#loginDiv {
    background-color: darkgrey;
    border-radius: 12px;
    padding: 20px;
    border: solid brown 3px;
    margin: 15px;
}

#loginPar{
    background-color: beige;
    border-radius: 12px;
    padding: 10px;
    color: brown;
}

#username {
    border-radius: 8px;
}

#password {
    border-radius: 8px;
}

#login {
    border-radius: 8px;
}